@import "bootstrap/bootstrap-grid.scss";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";
@import "fontawesome/regular.scss";
@import "fontawesome/v4-shims.scss";

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";

body {
    font-family: Roboto;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #00010c;
    color: rgba(198, 201, 216, 0.75);
}
.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 2px;
    img {
        height: 50px;
        margin-top: 10px;
        margin-right: 20px;
    }
}
a {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #c6c9d8;
    display: inline-block;
    &:hover,
    &:active,
    &:focus {
        background-image: linear-gradient(145deg, #e44c00, #ffd100);
    }
}
.navbar {
    padding: 0 50px;
    .contact {
        i {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(145deg, #e44c00, #ffd100);
            margin-right: 10px;
            font-size: 20px;
            transform: rotate(-40deg);
        }
        a {
            font-size: 20px;
        }
    }
    ul {
        display: inline-flex;
        justify-content: end;
        list-style: none;
        li {
            font-size: 20px;
            padding: 0 20px;
        }
        a {
            padding: 20px 0;
        }
        .dropdown {
            position: relative;
            display: block;
            .dropdown-menu {
                min-width: 247px;
                height: auto;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 90;
                opacity: 0;
                visibility: hidden;
                background-color: #fff;
                box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
                text-align: left;
                padding: 12px 0;
                border-radius: 4px;
                display: block;
                li {
                }
                a {
                    background-color: #333;
                    font-weight: 500;
                    padding: 8px 0;
                    font-size: 16px;
                    display: block;
                    margin: 0 10px;
                    border-radius: 3px;
                }
            }
            a.children-link::before {
                content: "≡";
                margin-right: 4px;
            }
            &:hover .dropdown-menu {
                visibility: visible;
                opacity: 1;
                -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
        }
        .dropdown > .dropdown-menu > a {
            display: block;
        }
    }
    .dropdown-link a:hover > .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }
}
